@using Vetreg.ViewModels
@model WorkOwnerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Work</h4>
<hr />

<div class="container">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" asp-format="{0:dd.MM.yyyy}" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CauseId" class="control-label"></label>
                    <select asp-for="CauseId" class="form-control"
                            asp-items="Model.Causes"></select>
                </div>

                <div class="form-group">
                    <label asp-for="DiseaseId" class="control-label"></label>
                    <select asp-for="DiseaseId" class="form-control"
                            asp-items="Model.Diseases"></select>
                </div>

                <div class="form-group">
                    <label>OwnerType</label>

                    <a asp-action="Create" asp-route-work="@{Model.OwnerType = "Individual";}"> Individual  |</a>
                    <a asp-action="Create" asp-route-work="@{Model.OwnerType = "Company";}">  Company </a>
                </div>



                <form asp-action="Create">
                    <label @*asp-for="Owners." class="control-label"*@>Owners</label>
                    @foreach (var owner in Model?.OwnersList)
                    {
                        <div class="form-group form-check">
                            @*<label class="form-check-label">*@
                            <label asp-for="Owners" class="control-label"></label>
                            <input class="form-check-input" asp-for="@owner" /> @owner.OwnerName
                            @*</label>*@
                        </div>
                    }

                    <div class="w-100"></div>
                    <div class="form-group">
                        <input type="submit" value="Select" class="btn btn-primary" />
                    </div>
                </form>

                @*<div class="form-group">
            <label asp-for="Owners" class="control-label"></label>
            <select asp-for="OwnersId" class="form-control"
                    asp-items="Model.Owners"></select>
        </div>*@



            </div>




            <div class="col-md-4">

                <div class="form-group">
                    <label @*asp-for="Owners." class="control-label"*@>Animals</label>
                    @foreach (var animal in Model?.AnimalsList)
                    {
                        <div class="form-group form-check">
                            @*<label class="form-check-label">*@
                            <label asp-for="Animals" class="control-label"></label>
                            <input class="form-check-input" asp-for="@animal" /> @animal.ChipNumber
                            @*</label>*@
                        </div>
                    }
                </div>


                @*<label asp-for="Animals" class="control-label"></label>
        <select asp-for="AnimalsId" class="form-control" style="overflow: auto;"
                asp-items="Model.Animals"></select>*@
            </div>
        </div>
        <div class="w-100"></div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

