@model Vetreg.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="AddDate" class="control-label"></label>
            <input asp-for="AddDate" class="form-control" />
            <span asp-validation-for="AddDate" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="RegionId" class="control-label"></label>
            <input asp-for="RegionId" class="form-control" />
            <span asp-validation-for="RegionId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="CityId" class="control-label"></label>
            <input asp-for="CityId" class="form-control" />
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control"
                        asp-items="ViewBag.Cities">
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="OwnerId" class="control-label"></label>
            <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control"
                        asp-items="ViewBag.Owners">
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="KindId" class="control-label"></label>
            <input asp-for="KindId" class="form-control" />
            <span asp-validation-for="KindId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="KindId" class="control-label"></label>
                <select asp-for="KindId" class="form-control"
                        asp-items="ViewBag.Kinds">
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="BreedId" class="control-label"></label>
            <input asp-for="BreedId" class="form-control" />
            <span asp-validation-for="BreedId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class="form-control"
                        asp-items="ViewBag.Breeds">
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="SuitId" class="control-label"></label>
            <input asp-for="SuitId" class="form-control" />
            <span asp-validation-for="SuitId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="SuitId" class="control-label"></label>
                <select asp-for="SuitId" class="form-control"
                        asp-items="ViewBag.Suits">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Sticker" class="control-label"></label>
                <select asp-for="Sticker"
                        asp-items="Html.GetEnumSelectList<Sticker>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChipNumber" class="control-label"></label>
                <input asp-for="ChipNumber" class="form-control" />
                <span asp-validation-for="ChipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" asp-format="{0:MM.yyyy}" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <input type="radio" asp-for="Gender" value="0" />Male
                <input type="radio" asp-for="Gender" value="1" selected />Female<br />
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRetired" /> @Html.DisplayNameFor(model => model.IsRetired)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
